body{
    background-image: url(photo1.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 950px;
}
h1{
    color: blue;
    font-size: 50px;
}
label{
    color:white;
    font-size: 35px;
    font-weight: bold;
}
input{
    height: 30px;
    width: 300px;
}
button{
    height: 50px;
    width: 60px;
    background-color: blueviolet;
    color:white ;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
}
p{
    color: pink;
    font-size: 20px;
}
form{
    padding: 10px;
    
}
